body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .containerCrear {
    width: 100%;
    height: calc(100vh  -  120px);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(74, 56, 56, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .containerCrear form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
  
  .containerCrear .form-group {
    margin-bottom: 20px;
    width: 600px;
  }
  
  .containerCrear .form-group label {
    font-weight: bold;
  }
  
  .containerCrear .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .containerCrear .btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .error-message{
    color: red;
  }

.img_prev{
  width: 4rem;
  height: 3rem;
}

  @media (max-width: 576px) {
    .containerCrear {
      padding: 5px;
    }
    .containerCrear .form-group {
        max-width: 300px;
    }
  }
  