.tituloLanding{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    
}
  .landing-page {
    background-color: #087cf8;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    /* text-align: center; */
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .btn_submit {
    width: 100%;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .btn_submit:hover {
    background-color: #0056b3;
  }
  

  .error-message{
    color: red;
    margin-top: 10px;
  }
  
/* styles.css */
@import "~@fortawesome/fontawesome-free/css/all.css";

  /* Agrega estilos para el botón "ver contraseña" */


/* Estilos específicos para el ícono */


/* Estilos para el contenedor del campo de contraseña y el botón */
.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle-btn {
  width: 20px;
  position: absolute;
margin-left: 88%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333; /* Ajusta el color según tus necesidades */
  padding: 0 5px;
  bottom: 12px;
}
